body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

#imagePreview {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
